.interactive-card{
    display: flex;
    align-items: center;
    column-gap: 1450px;
    border-radius: 8px;
    background: rgba(16, 144, 216, 0.10);
    margin: 50px;
    padding-inline: 50px;
}
.blog-span{
    color: grey;
}
.blog-click{
    font-size: large;
    border: #1090D8;
    border-radius: 8px;
    background: #1090D8;
    padding-inline:38px ;
    padding-block: 9px;
    color:  white;
    margin-top: 10px;
}


.shapes_area{
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 24px;
    margin-inline: 50px;
}
.shapes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 24px;
    column-gap: 24px;
}
.shape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 437px;
    height: 563px;
    border-radius: 8px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
}
.shape input{
    width: 95px;
    margin-inline: 10px;
}
.calculate{
    margin-block: 50px;
}

.area{
    display: flex;
    flex-direction: column;
    text-decoration: underline;
    font-size: large;
    text-underline-offset: 5px;
    align-items: center;
    border-radius: 8px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
    height: 450px;
}